name: Validate

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: "actions/checkout@v6"
      - name: hassfest validation
        uses: home-assistant/actions/hassfest@master
  hacs:
    runs-on: "ubuntu-latest"
    steps:
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
